
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidxs al sitio de evaluación Web 3</h1>
    <p><a href="/RegistrarVentas">Registrar Ventas</a></p>
</div>
